


<!-- <button class="button" (click)="ControlClick()">Start Control</button> -->

 

<div class="analyze-page">
  

  <div class="form">
    <h3>Data Analysis</h3>
    <form [formGroup]="analyzeForm" >
      <input type="text" placeholder="Time to import data" formControlName="time"/>
      <input type="text" placeholder="Zona 1" formControlName="zona1"/>
      <input type="text" placeholder="Zona 2" formControlName="zona2"/>
      <input type="text" placeholder="Smoothness" formControlName="ss"/>
      <input type="text" placeholder="Interpolation degree" formControlName="dd"/>
      <button class="button" (click)="Submit(analyzeForm.value)">Get and analyze data</button>
      
    </form>
    <button class="button" (click)="resetClick()">Reset Graph</button>

    <div *ngIf="chart" class="graph">
      <canvas id="canvas"> {{chart}} </canvas>
    </div> 

    
    <h4 *ngIf="graphexist"> Data analyzed: {{rixfromserver.dataline}} </h4>
    <h4 *ngIf="graphexist"> of wich is impossible to find SW: {{rixfromserver.missing}} </h4>

    <h3> SW point distribution</h3>

    <div *ngIf="hist" class="graph">
      <canvas id="canvas_hist"> {{hist}} </canvas>
    </div> 

    <h3> SW Degree trend </h3>

    <div *ngIf="cloud" class="graph">
      <canvas id="canvas_cloud"> {{cloud}} </canvas>
    </div> 

  </div>


</div>