


<!-- <button class="button" (click)="ControlClick()">Start Control</button> -->

 

<div class="analyze-page">
  

  <div class="form">
    <h3>Data Analysis and Control</h3>
    <form [formGroup]="analyzeForm" >
      <input type="text" placeholder="Time to import data" formControlName="time"/>
      <input type="text" placeholder="Zona 1" formControlName="zona1"/>
      <input type="text" placeholder="Zona 2" formControlName="zona2"/>
      <input type="text" placeholder="Smoothness" formControlName="ss"/>
      <input type="text" placeholder="Interpolation degree" formControlName="dd"/>
      <button class="button" (click)="Submit(analyzeForm.value)">Get and analyze data</button>
      
    </form>
    <button class="button" (click)="resetClick()">Reset Graph</button>

    <div *ngIf="chart" class="graph">
      <canvas id="canvas"> {{chart}} </canvas>
    </div> 

  </div>



  <div class="form">
    <h3>Control</h3>
    <div class="flex">
      <button class="button" (click)="StartControl(analyzeForm.value)">Start</button>
      <button class="button" (click)="StopControl()">Stop</button>
      
    </div>
    <div *ngIf="chartControl" class="graph">
      <canvas id="canvas2"> {{chartControl}} </canvas>
    </div> 
  </div>

  

  

</div>