


<!-- <button class="button" (click)="ControlClick()">Start Control</button> -->

 

<div class="analyze-page">
  

  <div class="form">
    <h3>Data Analysis and Control</h3>
    <form [formGroup]="analyzeForm" (ngSubmit)="onSubmit(analyzeForm.value)">
      <input type="text" placeholder="Time to import data" formControlName="time"/>
      <input type="text" placeholder="Zona 1" formControlName="zona1"/>
      <input type="text" placeholder="Zona 2" formControlName="zona2"/>
      <input type="text" placeholder="Smoothness" formControlName="ss"/>
      <input type="text" placeholder="Interpolation degree" formControlName="dd"/>
      <button class="button" type="submit">Get and analyze data</button>
      
    </form>
    <button class="button" (click)="resetClick()">Reset Graph</button>

    <div *ngIf="chart" class="graph">
      <canvas id="canvas"> {{chart}} </canvas>
    </div> 

  </div>

  <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button>

<p>{{timeLeft}} Seconds Left....</p> 
<p (click)="oberserableTimer()">Start Observable timer</p> {{subscribeTimer}}
  
</div>