<link rel="stylesheet" href="/w3css/4/w3.css">



<div class="connection-page">
  <div class="form">
       <h3>Establish Connection</h3>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <input type="text" placeholder="Host" formControlName="host"/>
      <input type="text" placeholder="User" formControlName="user"/>
      <input type="password" placeholder="password" formControlName="pw"/>
      <input type="text" placeholder="Database" formControlName="database"/>
      <input type="text" placeholder="Table" formControlName="table"/>
      <button class="button" type="submit">Try Connection</button>
    </form>
  </div>
</div>

