
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

a {
  display: inline-block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  
}


.button1 {
  
  position:absolute;
  top: 25px;
  right: 5px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background:#FFFFFF ;*/
  width: 120px;
  border: 5;
  padding: 15px;
  color:  #4CAF50;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.button2 {
  
  position:absolute;
  top: 69px;
  right: 5px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* background:#FFFFFF ;*/
  width: 120px;
  border: 5;
  padding: 15px;
  color:  #4CAF50;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.topAC{
   background: rgb(66, 77, 66);
}
.button3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}






